/* =================================
  custome Queries
==================================== */



/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}

p {
  font-size: .95em;
  margin-bottom: 1.8em;
}

h2,
h3,
a {
  color: #0A5856;
}

h2,
h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 1.25em;
  margin: 0;
}

.main-nav {
  margin-top: 5px;
  float: right;
}

.name a,
.main-nav a {
  text-align: center;
  display: inline;
  padding: 10px 15px;
}

.main-nav a {
  font-size: .95em;
  color: #3D7699;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: #0A5856;
}

.main-nav li{
  float: left;
}

/* ---- Layout Containers ---- */

.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
}

.banner,
.main-footer {
  text-align: center;
}

.banner {
  color: #fff;
  background: #3D7699;
  padding: 3.2em 0;
  margin-bottom: 60px;
}

.col {
  padding-right: 1em;
  padding-left: 1em;
}

.main-footer {
  background: #d9e4ea;
  padding: 2em 0;
  margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
  width: 190px;
}

.headline {
  margin-bottom: 0;
}

/* =================================
  Media Queries
==================================== */

.grid-container {
  width: 100%;
}
.grid-container* {
  box-sizing: border-box;
}
.row:before {
  content: "";
  display: table;
  clear: both;
}
.row:after {
  content: "";
  display: table ;
  clear: both;
}
.col-1 {
  width: 16.66666667%;
}
.col-2 {
  width: 33.33%;
}
.col-3 {
  width: 50%;
}
.col-4 {
  width: 66.66666667%;
}
.col-5 {
  width: 83.3333333%;
}
.col-6 {
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6{
  float: left;
}

@media all and (max-width: 800px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
}

.text-center{
  text-align: center;
}
