/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}

p {
  font-size: .95em;
  margin-bottom: 1.8em;
}

h2,
h3,
a {
  color: #0A5856;
}

h2,
h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
.container {
  width: 90%;
  margin: auto;
}
.clearfix {
  clear: both;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 1.25em;
  margin: 0;
  width: 50%;
  float: left
}

.main-nav {
  margin-top: 5px;
  float: right;
  display: inline-flex;
  text-align: right;
  width: 30%;
}

.name a,
.main-nav a {
  display: block;
  padding: 10px 15px;
}

.main-nav a {
  font-size: .95em;
  color: #3D7699;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: #0A5856;
}

/* ---- Layout Containers ---- */

.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
}

.banner,
.main-footer {
  text-align: center;
}

.banner {
  color: #fff;
  background: #3D7699;
  padding: 3.2em 0;
  margin-bottom: 60px;
}

.col {
  padding-right: 1em;
  padding-left: 1em;
  width: 33.33333%;
  float: left;
}

.main-footer {
  background: #d9e4ea;
  padding: 2em 0;
  margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
  width: 190px;
}

.headline {
  margin-bottom: 0;
}

/* =================================
  Media Queries
==================================== */
@media screen and (max-width: 1024px) {
  .main-nav {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .name {
    width: 100%;
    text-align: center
  }
  .main-nav {
    width: 100%;
    text-align: center;
    display: block;
  }
  .secondary,
  .primary {
    width: 50%;
  }
  .tertiary {
    width: 100%;
  }
}
